<form [formGroup]="form" (ngSubmit)="guardar()" class="grid gap-4">

  <div>
    <label class="text-white">Nombre del Accesorio</label>
    <input type="text" formControlName="accNombre" class="input" />
  </div>

  <div>
    <label class="text-white">Descripción</label>
    <textarea formControlName="accDescrip" class="input"></textarea>
  </div>

  <div>
    <label class="text-white">Costo</label>
    <input type="number" formControlName="proCosto" class="input" />
  </div>

  <div>
    <label class="text-white">Precio de Venta</label>
    <input type="number" formControlName="proPrecioVenta" class="input" />
  </div>

  <div class="flex justify-end space-x-4 mt-4">
    <button type="button" (click)="cerrar.emit()" class="bg-gray-500 text-white px-4 py-2 rounded-lg">Cancelar</button>
    <button type="submit" class="bg-[#A7DCFF] text-black px-4 py-2 rounded-lg">Guardar</button>
  </div>

</form>
