<div class="topbar">
    <div class ="page-title">
        {{pageTitle}}
    </div>

    <div class="topbar-opciones">
        <i class="bx bx-bell"></i>
        <button (click)="logout()">Cerrar Sesion
        </button>
        <div class="user-info">
            <!-- imagen temporal -->
            <img src="https://media.istockphoto.com/id/1495088043/es/vector/icono-de-perfil-de-usuario-avatar-o-icono-de-persona-foto-de-perfil-s%C3%ADmbolo-de-retrato.jpg?s=612x612&w=0&k=20&c=mY3gnj2lU7khgLhV6dQBNqomEGj3ayWH-xtpYuCXrzk=" alt="">
            <span>Fabiana Pacheco</span>
        </div>

    </div>
</div>