<head>
  <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>

<nav class="sidebar">
  <ul>
    <li class="opcion" routerLinkActive="active">
      <i class='bxr  bx-dashboard'></i>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="opcion" routerLinkActive="active">
      <i class='bxr  bx-package'  ></i> 
      <a routerLink="/inventario" routerLinkActive="active">Inventario</a>
    </li>
    <li class="opcion" routerLinkActive="active">
      <i class='bx  bx-barcode'  ></i> 
      <a routerLink="/codBarras" routerLinkActive="active">Codigos de Barras</a>
    </li>
    <li class="opcion" routerLinkActive="active">
      <i class='bx  bx-dollar-circle'  ></i> 
      <a routerLink="/ventas" >Ventas</a>
    </li>
    <li class="opcion" routerLinkActive="active">
      <i class='bx  bx-file-detail'  ></i> 
      <a routerLink="/histVent" routerLinkActive="active">Historial de Ventas</a>
    </li>
    <li class="opcion" routerLinkActive="active">
      <i class='bx  bx-file-report'  ></i> 
      <a routerLink="/informe" routerLinkActive="active">Informes</a>
    </li>
  </ul>
</nav>
  