# === PYTHON / DJANGO ===
**/__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
backend/.env
db.sqlite3

# === NODE / ANGULAR ===
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.angular/
frontend/.angular/cache/
frontend/.angular/config.json

# === EDITORES / SISTEMA ===
.env
.vscode/
.idea/
.DS_Store
Thumbs.db
proyecto-ips-desktop/node_modules/electron/dist/resources/default_app.asar
