<!--
<table class="tabla-productos">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Material</th>
      <th>Color</th>
      <th>Precio</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos">
      <td>{{ producto.codigo }}</td>
      <td>{{ producto.tipo }}</td>
      <td>{{ producto.marca }}</td>
      <td>{{ producto.material }}</td>
      <td>{{ producto.color }}</td>
      <td>{{ producto.precio | currency:'PEN' }}</td>
      <td>{{ producto.estado }}</td>
      <td>
        <button (click)="onEditar(producto)">Editar</button>
        <button (click)="onEliminar(producto.codigo)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

-->
<div class="overflow-x-auto mt-4 ml-[80px]">
  <table class="min-w-full divide-y divide-[#6B6B6B]border border-gray-300">
    <thead class="bg-[#292C2D] ">
      <tr>
        <th class="px-4 py-2 text-left text-sm font-normal text-white-700">Código</th>
        <th class="px-4 py-2 text-left text-sm font-normal text-white-700">Nombre</th>
        <th class="px-4 py-2 text-left text-sm font-normal text-white-700">Marca</th>
        <th class="px-4 py-2 text-left text-sm font-normal text-white-700">Material</th>
        <th class="px-4 py-2 text-left text-sm font-normal text-white-700">Color</th>
        <th class="px-4 py-2 text-left text-sm font-normal text-white-700">Precio</th>
        <th class="px-4 py-2 text-left text-sm font-normal text-white-700">Estado</th>
        <th class="px-4 py-2 text-center text-sm font-normal text-white-700">Acciones</th>
      </tr>
    </thead>
    <tbody class="bg-[#3D4142] divide-y divide-[#6B6B6B]">
      <tr *ngFor="let producto of productos">
        <td class="px-4 py-2 text-sm font-normal text-white-700">{{ producto.codigo }}</td>
        <td class="px-4 py-2 text-sm font-normal text-white-700">{{ producto.nombre }}</td>
        <td class="px-4 py-2 text-sm font-normal text-white-700">{{ producto.marca }}</td>
        <td class="px-4 py-2 text-sm font-normal text-white-700">{{ producto.material }}</td>
        <td class="px-4 py-2 text-sm font-normal text-white-700">{{ producto.color }}</td>
        <td class="px-4 py-2 text-sm font-normal text-white-700">{{ producto.precio | currency:'PEN' }}</td>
        <td class="px-4 py-2 text-sm font-normal text-white-700">{{ producto.estado }}</td>
        <td class="px-4 py-2 text-sm text-center">
          <button (click)="onEditar(producto)" class="bg-[#A7DCFF] hover:bg-[#6C94AE]  text-black text-xs px-3 py-1 rounded mr-1">
            Editar
          </button>
          <button (click)="onEliminar(producto.codigo)" class="bg-red-500 hover:bg-red-600 text-white text-xs px-3 py-1 rounded">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
