RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]

# Proteger directorios sensibles
<Files "composer.json">
    Order allow,deny
    Deny from all
</Files>

<Files "composer.lock">
    Order allow,deny
    Deny from all
</Files>

<Directory "storage">
    Order allow,deny
    Deny from all
</Directory>

<Directory "src">
    Order allow,deny
    Deny from all
</Directory>
