<div class="pl-[100px]">
  <!-- Selector y botón Agregar en la misma línea -->
  <div class="flex justify-between items-center mb-6 mt-20">

    <!-- Botones de tipo de producto a la izquierda -->
    <div class="flex">
      <button
        class="px-4 py-2 rounded-lg transition font-medium"
        [ngClass]="{
          'bg-[#A7DCFF] text-black': tipoFormulario === 'montura',
          'bg-gray-200 text-gray-700 hover:bg-gray-300': tipoFormulario !== 'montura'
        }"
        (click)="seleccionarFormulario('montura')"
      >
        Montura
      </button>

      <button
        class="px-4 py-2 mx-2 rounded-lg transition font-medium"
        [ngClass]="{
          'bg-[#A7DCFF] text-black': tipoFormulario === 'accesorio',
          'bg-gray-200 text-gray-700 hover:bg-gray-300': tipoFormulario !== 'accesorio'
        }"
        (click)="seleccionarFormulario('accesorio')"
      >
        Accesorio
      </button>
    </div>
    
    <div>
      <!-- Botón Agregar a la derecha -->
      <button
        class="bg-[#A7DCFF] text-black px-4 py-2 rounded-lg shadow hover:bg-[#79A5C3] transition mr-2"
        (click)="abrirModal(tipoFormulario)"
      >
        Agregar {{ tipoFormulario === 'montura' ? 'Montura' : 'Accesorio' }}
      </button>
      
      <button
        class="bg-red-500 text-white py-2 px-4 rounded"
        (click)="generatePDFConTodosLosCodigos()"
      >
        Descargar códigos de todos los productos
      </button>
      
    </div>


  </div>

  
</div>

  <!-- Mostrar según el tipo seleccionado -->
  <ng-container [ngSwitch]="tipoFormulario">

    <!-- Montura -->
    <div *ngSwitchCase="'montura'">

      <div class="inventario-container">
        <app-inventario-filtros
          [tipo]="tipoFormulario"
          (filtrosAplicados)="aplicarFiltros($event)"
          (reset)="resetFiltros()">
        </app-inventario-filtros>

        <app-inventario-tabla
          [tipo]="tipoFormulario"
          [productos]="productosFiltrados"
          (editar)="editar($event)"
          (eliminar)="eliminar($event)"
          (generarCodigoBarras)="mostrarCodigoBarras($event)">
        </app-inventario-tabla>
      </div>
    </div>

    <!-- Accesorio -->
    <div *ngSwitchCase="'accesorio'">

      <div class="inventario-container">
        <app-inventario-filtros
          [tipo]="tipoFormulario"
          (filtrosAplicados)="aplicarFiltros($event)"
          (reset)="resetFiltros()">
        </app-inventario-filtros>

        <app-inventario-tabla
          [tipo]="tipoFormulario"
          [productos]="productosFiltrados"
          (editar)="editar($event)"
          (eliminar)="eliminar($event)"
          (generarCodigoBarras)="mostrarCodigoBarras($event)">
        </app-inventario-tabla>
      </div>
    </div>

  </ng-container>

  <!-- Modal de formulario dinámico -->
  <div
    *ngIf="modalVisible"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  >
    <div class="bg-[#292C2D] rounded-xl shadow-lg p-6 w-full max-w-2xl">

      <h3 class="text-xl font-bold text-white font-medium">Agregar Producto</h3>
      <hr class="border-t-2 border-[#5E5E5E] my-4">

      <ng-container [ngSwitch]="tipoFormulario">
        <app-formulario-montura
          *ngSwitchCase="'montura'"
          (cerrar)="cerrarModal()"
          (guardado)="refrescarProductos()"
        ></app-formulario-montura>

        <app-formulario-accesorio
          *ngSwitchCase="'accesorio'"
          (cerrar)="cerrarModal()"
          (guardado)="refrescarProductos()"
        ></app-formulario-accesorio>
      </ng-container>

    </div>
  </div>

  <!--CODIGO DE BARRAS-->
  <div
    *ngIf="modalCodigoVisible"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  >
    <div class="bg-white p-6 rounded-xl shadow-lg w-full max-w-md text-center">
      <h2 class="text-lg font-bold mb-4 text-gray-700">Código de Barras</h2>

      <div class="flex justify-center">
        <app-barcode [value]="codigoProducto"></app-barcode>
      </div>
      <div class="justify-center">
        <button
        class="mt-4 bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded mr-2"
        (click)="modalCodigoVisible = false"
      >
        Cerrar
      </button>

      <button
        class="mt-4 bg-[#A7DCFF] text-black py-2 px-4 rounded"
        (click)="downloadPDF()"
      >
        Imprimir
      </button>

      </div>

    </div>
  </div>

  <div id="barcodes-hidden" style="position: absolute; left: -9999px; top: -9999px;">
    <div *ngFor="let producto of productos" [attr.data-codigo]="producto.codigo">
      <app-barcode [value]="producto.codigo"></app-barcode>
    </div>
  </div>