<div class=" pl-[150px]">
    <button [routerLink]="['/dashboard']" class="text-white text-xl font-poppins">🢀 Venta</button>
    <div class="grid grid-cols-2  w-full h-[calc(95vh-60px)]">
        <div class="p-10 pl-[300px] pr-[80px]">
            <div class="bg-[#292C2D] h-full rounded-[5%]">
                <div class="p-8">
                    <p class="text-xl  font-poppins">1. Agrega Productos</p>
                </div>
            </div>
        </div>
        <div class="p-10 pl-[80px] pr-[300px]">
            <div class="bg-[#292C2D] h-full rounded-[5%]">
                <div class="p-8">
                    <p class="text-xl font-poppins">Boleta</p>
                </div>
            </div>
        </div>
    </div>
</div>
