<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="login()">
      <div>
        <label>Usuario:</label>
        <input type="text" [(ngModel)]="username" name="username" required />
      </div>
      <div>
        <label>Contraseña:</label>
        <input type="password" [(ngModel)]="password" name="password" required />
      </div>
      <button type="submit">Ingresar</button>
    </form>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
  