<div class="fixed inset-0 flex items-center justify-center p-4">
  <div class="w-full max-w-md bg-secondary p-10 rounded-3xl shadow-[0_4px_6px_rgba(0,191,255,0.1),0_1px_3px_rgba(255,251,251,0.08)]">
    
    <h2 class="text-center font-normal mb-8 text-3xl text-foreground">
      Iniciar Sesión
    </h2>

    <form (ngSubmit)="login()">
      <!-- Usuario -->
      <div class="mb-4">
        <label class="block mb-2 font-medium text-base text-foreground">
          Nombre de Usuario
        </label>
        <input 
          type="text" 
          [(ngModel)]="username" 
          name="username"
          placeholder="Ingresa tu usuario"
          required
          class="w-full p-2.5 mt-1 mb-4 rounded-md border border-gray-600 bg-input-secondary text-foreground text-base"
        />
      </div>

      <!-- Contraseña -->
      <div class="mb-6">
        <label class="block mb-2 font-medium text-base text-foreground">
          Contraseña
        </label>
        <div class="relative">
          <input 
            [type]="showPassword ? 'text' : 'password'" 
            [(ngModel)]="password" 
            name="password"
            placeholder="Ingresa tu contraseña"
            required
            class="w-full p-2.5 pr-24 rounded-md border border-gray-600 bg-input-secondary text-foreground text-base"
          />
          <button 
            type="button"
            (click)="togglePasswordVisibilidad()"
            class="absolute right-2.5 top-1/2 transform -translate-y-1/2 text-sm font-medium text-gray-400 hover:text-sm"
          >
            {{ showPassword ? 'Ocultar' : 'Mostrar' }}
          </button>
        </div>
      </div>


      <!-- Botón -->
      <button 
        type="submit"
        class="w-1/2 py-2.5 text-base bg-primary text-black border-none rounded-md cursor-pointer transition-colors duration-300 block mx-auto my-5 shadow-[0_4px_6px_rgba(0,191,255,0.1),0_1px_3px_rgba(255,251,251,0.08)] hover:bg-[#9eacb6] focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50"
      >
        Ingresar
      </button>
    </form>

    <!-- Redirección a registro -->
    <div class="flex items-center justify-center gap-2 flex-wrap">
      <label class="text-foreground m-0">¿No tienes una cuenta?</label>
      <a 
        (click)="goToRegister()" 
        class="text-[rgb(124,124,239)] cursor-pointer no-underline transition-all duration-200 m-0 px-1.5 py-1 rounded hover:underline"
      >
        Regístrate
      </a>
    </div>

    <!-- Mensaje de error -->
    <p class="text-red-500 text-center mt-4" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>

  </div>
</div>