<form [formGroup]="form" (ngSubmit)="guardar()" class="grid grid-cols-2 gap-4 p-6 rounded-lg text-white ">
  
  <!-- precio Venta -->
  <div class="flex flex-col">
    <label class="mb-1 font-medium">Precio Venta</label>
    <input type="number" formControlName="proPrecioVenta" placeholder="Precio Venta"
      class="bg-[#3D4142] text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" />
  </div>

  <!-- Costo -->
  <div class="flex flex-col">
    <label class="mb-1 font-medium">Costo</label>
    <input type="number" formControlName="proCosto" placeholder="Costo"
      class="bg-[#3D4142] text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" />
  </div>

  <!-- marca -->
  <div class="flex flex-col">
    <label class="mb-1 font-medium">Marca</label>
    <input formControlName="monMarca" placeholder="Marca"
      class="bg-[#3D4142] text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" />
  </div>

  <!-- publico -->
  <div class="flex flex-col">
    <label class="mb-1 font-medium">Público</label>
    <input formControlName="monPubl" placeholder="Público"
      class="bg-[#3D4142] text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" />
  </div>

  <!-- material -->
  <div class="flex flex-col">
    <label class="mb-1 font-medium">Material</label>
    <input formControlName="monMate" placeholder="Material"
      class="bg-[#3D4142] text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" />
  </div>
  <!-- color-->
  <div class="flex flex-col">
    <label class="mb-1 font-medium">Color</label>
    <input formControlName="monColor" placeholder="Color"
      class="bg-[#3D4142] text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" />
  </div>
  <!-- esta vendida o no?-->
  <div class="flex items-center space-x-4">
    <label class="mb-1 font-medium">Vendida</label>
    <input type="radio" formControlName="monVendida" name="monVendida" [value]="true" /> Sí
    <input type="radio" formControlName="monVendida" name="monVendida" [value]="false" /> No
  </div>





  <!-- Botones -->
  <div class="col-span-2 flex justify-center gap-6 pt-4">
    <button type="submit"
      class="bg-[#A7DCFF] text-black px-6 py-2 rounded-lg font-semibold hover:bg-[#90c7eb] transition">
      Guardar
    </button>
    <button type="button" (click)="cerrar.emit()"
      class="bg-gray-600 text-white px-6 py-2 rounded-lg font-semibold hover:bg-gray-500 transition">
      Cancelar
    </button>
  </div>
</form>
