:root {
    color-scheme: dark light;
    --background-color: #121212; /* Fondo oscuro */
    --text-color: #ffffff; /* Texto blanco */
    --primary-color: #A7DCFF; /* Color primario para enlaces, botones, etc */

}

/* Aplica los colores globales al tema oscuro */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}