<div>
  <div *ngFor="let campo of campos" class="relative">
    <button
      class="boton-filtro"
      (click)="toggleDesplegable(campo)">
      {{ campo | titlecase }}
    </button>

    <div
      *ngIf="desplegar[campo]"
      class="menu-desplegable">
      <label
        *ngFor="let opcion of opcionesFiltros[campo]"
        class="opcion-filtro">
        <input
          type="checkbox"
          class="checkbox-filtro"
          [checked]="seleccionados[campo].includes(opcion)"
          (change)="toggleSeleccion(campo, opcion)"
        />
        <span>{{ opcion }}</span>
      </label>
    </div>
  </div>

  <div class="botones">
    <button
      class="boton-aplicar"
      (click)="aplicar()">
      Aplicar
    </button>
    <button
      class="boton-limpiar"
      (click)="limpiar()">
      Limpiar
    </button>
  </div>
</div>
