<!-- src/app/dashboard/dashboard.component.html -->
<div class="pl-[120px] pr-6 py-6 min-h-screen bg-background text-text font-poppins">
  <div class="dashboard">

    <div class="stats-cards grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <app-stats-card
        icon="bx bx-bar-chart"
        title="Ventas de la Semana"
        [value]="ventasSemana">
      </app-stats-card>

      <app-stats-card
        icon="bx bx-calendar"
        title="Ventas del Mes"
        [value]="ventasMes">
      </app-stats-card>

      <app-stats-card
        icon="bx bx-dollar"
        title="Ganancia del Día"
        [value]="gananciaDia">
      </app-stats-card>
      
    </div>
    <app-chart-ventas></app-chart-ventas>



  </div>
</div>
