<div class="pl-[120px] pr-6 py-6 min-h-screen bg-background text-text font-poppins">
  <div class="dashboard">

    <div class="stats-cards grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <app-stats-card
        icon="bx bx-bar-chart"
        title="Ventas de la Semana"
        [value]="ventasSemana"
        [dateRange]="fechaSemana">
      </app-stats-card>

      <app-stats-card
        icon="bx bx-calendar"
        title="Ventas del Mes"
        [value]="ventasMes"
        [dateRange]="fechaMes">
      </app-stats-card>

      <app-stats-card
        icon="bx bx-dollar"
        title="Ganancia del Día"
        [value]="gananciaDia"
        [dateRange]="fechaDia">
      </app-stats-card>
      
    </div>
    <div class="flex flex-row gap-4 mt-8">
      <div class="flex-1">
        <app-top-productos></app-top-productos>
      </div>
      <div class="flex-1">
        <app-ventas-pendientes></app-ventas-pendientes>
      </div>
    </div>


    <app-chart-ventas></app-chart-ventas>

  </div>
</div>
