<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>



<div class="register-container">
    <h2>Registrarse</h2> 
    <form (ngSubmit)="register()">
      <div class="input-group">
        <label>Nro. Empleado</label>
        <input type="text" [(ngModel)]="emplCod" name="username" placeholder="Ingresa tu codigo de empleado"  required />
      </div>
      <div class="input-group">
        <label>Nombre de Usuario</label>
        <input type="text" [(ngModel)]="username" name="username" placeholder="Ingresa tu usuario"  required />
      </div>
      <div class="input-group">
        <label>Contraseña</label>
        <div class="password-container">
          <input 
            [type]="showPassword ? 'text': 'password'" 
            [(ngModel)]="password" 
            name="password" 
            placeholder="Ingresa tu contraseña" 
            required />
          <i 
            class="bx" 
            [ngClass]="showPassword ? 'bx-eye': 'bx-eye-slash'" 
            (click)="togglePasswordVisibility()"
            style="cursor: pointer;"
          ></i>
        </div>
      </div>
      <div class ="redirect-login">
        <div class="login-container">
            <label> ¿Tienes una cuenta? </label>
            <a (click)="goToLogin()" style="cursor: pointer; color: blue; text-decoration: underline;"> Ingresar </a>
        </div>
      </div>
      <button type="submit">Registrarse</button>
    </form>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
  